---
layout: default
---

<div class="home">

  <!-- h1>Posts</h1 -->

  {% for post in site.posts %}
  {{post.tag}}
  <div id="{{ post.categories }}" class="col-lg-8 col-lg-offset-2" style="display: block">
    <ul>
      <li>{{ post.tag }}</li>
    </ul>
  </div>
  {% endfor %}

  {% for post in site.posts %}
  {{ post.date | date_to_string }}{{ post.title }}<br>
  {{ post.categories }}
  {{ post.tag }}
  {% endfor %}



  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
