---
layout: default
---

<script>
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    window.onload = function(){
        var strRequestCategory = getParameterByName("cate");

        switch (strRequestCategory) {
            case "daily" : document.getElementById("daily").style.display = "block"; break;
            case "book" : document.getElementById("book").style.display = "block"; break;
            case "english" : document.getElementById("english").style.display = "block"; break;
            case "languages" : document.getElementById("languages").style.display = "block"; break;
            case "development" : document.getElementById("development").style.display = "block"; break;
            case "Canada" : document.getElementById("Canada").style.display = "block"; break;
            default : document.getElementById("noTagInCategory").style.display = "block"; break;
        }


    }
</script>

<div id="white">
    <div class="container">
        <div class="row">
            <div id="noTagInCategory" class="col-lg-8 col-lg-offset-2" style="display: none">
                <p>There are no post contents</p>
            </div>

            <div id="daily" class="col-lg-8 col-lg-offset-2" style="display: none">
            {% for categoryPost in site.categories.daily %}
                    <h3>{{categoryPost.title}}</h3>
                    <p><bd> {{categoryPost.date | date: "%b %-d, %Y"}}</bd></p>
                    <p>{{ categoryPost.excerpt }}</p>
                    <p><a href="#">Continue Reading...</a></p>
            {% endfor %}
            </div>

            <div id="book" class="col-lg-8 col-lg-offset-2" style="display: none">
            {% for category in site.categories.book %}
                <p><img src="/assets/img/user.png" width="50px" height="50px"> <ba>Stanley Stinson</ba></p>
                <p><bd>{{category.tag}} January 18, 2014</bd></p>
                <h4>The Amazing Spiderman</h4>
                <p><b>Spider-Man</b> is a fictional character, a comic book superhero that appears in comic books published by Marvel Comics. Created by writer-editor Stan Lee and writer-artist Steve Ditko, he first appeared in Amazing Fantasy #15 (cover-dated Aug. 1962). </p>
                <p>Lee and Ditko conceived the character as an orphan being raised by his Aunt May and Uncle Ben, and as a teenager, having to deal with the normal struggles of adolescence in addition to those of a costumed crimefighter.</p>
                <p><a href="blog01.html">Continue Reading...</a></p>
            {% endfor %}
            </div>

            <div id="english" class="col-lg-8 col-lg-offset-2" style="display: none">
                {% for category in site.categories.english %}
                <p><img src="/assets/img/user.png" width="50px" height="50px"> <ba>Stanley Stinson</ba></p>
                <p><bd>{{category.tag}} January 18, 2014</bd></p>
                <h4>The Amazing Spiderman</h4>
                <p><b>Spider-Man</b> is a fictional character, a comic book superhero that appears in comic books published by Marvel Comics. Created by writer-editor Stan Lee and writer-artist Steve Ditko, he first appeared in Amazing Fantasy #15 (cover-dated Aug. 1962). </p>
                <p>Lee and Ditko conceived the character as an orphan being raised by his Aunt May and Uncle Ben, and as a teenager, having to deal with the normal struggles of adolescence in addition to those of a costumed crimefighter.</p>
                <p><a href="blog01.html">Continue Reading...</a></p>
                {% endfor %}
            </div>

            <div id="languages" class="col-lg-8 col-lg-offset-2" style="display: none">
                {% for category in site.categories.languages %}
                <p><img src="/assets/img/user.png" width="50px" height="50px"> <ba>Stanley Stinson</ba></p>
                <p><bd>{{category.tag}} January 18, 2014</bd></p>
                <h4>The Amazing Spiderman</h4>
                <p><b>Spider-Man</b> is a fictional character, a comic book superhero that appears in comic books published by Marvel Comics. Created by writer-editor Stan Lee and writer-artist Steve Ditko, he first appeared in Amazing Fantasy #15 (cover-dated Aug. 1962). </p>
                <p>Lee and Ditko conceived the character as an orphan being raised by his Aunt May and Uncle Ben, and as a teenager, having to deal with the normal struggles of adolescence in addition to those of a costumed crimefighter.</p>
                <p><a href="blog01.html">Continue Reading...</a></p>
                {% endfor %}
            </div>

            <div id="development" class="col-lg-8 col-lg-offset-2" style="display: none">
                {% for category in site.categories.development %}
                <p><img src="/assets/img/user.png" width="50px" height="50px"> <ba>Stanley Stinson</ba></p>
                <p><bd>{{category.tag}} January 18, 2014</bd></p>
                <h4>The Amazing Spiderman</h4>
                <p><b>Spider-Man</b> is a fictional character, a comic book superhero that appears in comic books published by Marvel Comics. Created by writer-editor Stan Lee and writer-artist Steve Ditko, he first appeared in Amazing Fantasy #15 (cover-dated Aug. 1962). </p>
                <p>Lee and Ditko conceived the character as an orphan being raised by his Aunt May and Uncle Ben, and as a teenager, having to deal with the normal struggles of adolescence in addition to those of a costumed crimefighter.</p>
                <p><a href="blog01.html">Continue Reading...</a></p>
                {% endfor %}
            </div>

            <div id="Canada" class="col-lg-8 col-lg-offset-2" style="display: none">
                {% for category in site.categories.Canada %}
                <p><img src="/assets/img/user.png" width="50px" height="50px"> <ba>Stanley Stinson</ba></p>
                <p><bd>{{category.tag}} January 18, 2014</bd></p>
                <h4>The Amazing Spiderman</h4>
                <p><b>Spider-Man</b> is a fictional character, a comic book superhero that appears in comic books published by Marvel Comics. Created by writer-editor Stan Lee and writer-artist Steve Ditko, he first appeared in Amazing Fantasy #15 (cover-dated Aug. 1962). </p>
                <p>Lee and Ditko conceived the character as an orphan being raised by his Aunt May and Uncle Ben, and as a teenager, having to deal with the normal struggles of adolescence in addition to those of a costumed crimefighter.</p>
                <p><a href="blog01.html">Continue Reading...</a></p>
                {% endfor %}
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div>