---
layout: default
---

<script>
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    window.onload = function(){
        var strRequestCategory = getParameterByName("cate");

        switch (strRequestCategory) {
            case "daily" : document.getElementById("daily").style.display = "block"; break;
            case "book" : document.getElementById("book").style.display = "block"; break;
            case "english" : document.getElementById("english").style.display = "block"; break;
            case "languages" : document.getElementById("languages").style.display = "block"; break;
            case "development" : document.getElementById("development").style.display = "block"; break;
            case "Canada" : document.getElementById("Canada").style.display = "block"; break;
        }
    }
</script>

<div id="white">
    <div class="container">
        <div class="row">
            <div id="daily" class="col-lg-8 col-lg-offset-2" style="display: none">
                {% if site.categories.daily == null %}
                    <h3>There are no daily post contents</h3>
                {% else %}
                    {% for categoryDaily in site.categories.daily %}
                        <h3>{{categoryDaily.title}}</h3>
                        <p><bd> {{categoryDaily.date | date: "%b %-d, %Y"}}</bd></p>
                        <p>{{ categoryDaily.excerpt }}</p>
                        <p><a href="#">Continue Reading...</a></p>
                    {% endfor %}
                {% endif %}
            </div>

            <div id="book" class="col-lg-8 col-lg-offset-2" style="display: none">
                {% if site.categories.book == null %}
                    <h3>There are no book post contents</h3>
                {% else %}
                    {% for categoryBook in site.categories.book %}
                        <h3>{{categoryBook.title}}</h3>
                        <p><bd> {{categoryBook.date | date: "%b %-d, %Y"}}</bd></p>
                        <p>{{ categoryBook.excerpt }}</p>
                        <p><a href="#">Continue Reading...</a></p>
                    {% endfor %}
                {% endif %}
            </div>

            <div id="english" class="col-lg-8 col-lg-offset-2" style="display: none">
                {% if site.categories.english == null %}
                    <h3>There are no English post contents</h3>
                {% else %}
                    {% for categoryEnglish in site.categories.english %}
                        <h3>{{categoryEnglish.title}}</h3>
                        <p><bd> {{categoryEnglish.date | date: "%b %-d, %Y"}}</bd></p>
                        <p>{{ categoryEnglish.excerpt }}</p>
                        <p><a href="#">Continue Reading...</a></p>
                    {% endfor %}
                {% endif %}
            </div>

            <div id="languages" class="col-lg-8 col-lg-offset-2" style="display: none">
                {% if site.categories.languages == null %}
                    <h3>There are no languages post contents</h3>
                {% else %}
                    {% for categoryLanguages in site.categories.languages %}
                        <h3>{{categoryLanguages.title}}</h3>
                        <p><bd> {{categoryLanguages.date | date: "%b %-d, %Y"}}</bd></p>
                        <p>{{ categoryLanguages.excerpt }}</p>
                        <p><a href="#">Continue Reading...</a></p>
                    {% endfor %}
                {% endif %}
            </div>

            <div id="development" class="col-lg-8 col-lg-offset-2" style="display: none">
                {% if site.categories.development == null %}
                    <h3>There are no development post contents</h3>
                {% else %}
                    {% for categoryDevelopment in site.categories.development %}
                        <h3>{{categoryDevelopment.title}}</h3>
                        <p><bd> {{categoryDevelopment.date | date: "%b %-d, %Y"}}</bd></p>
                        <p>{{ categoryDevelopment.excerpt }}</p>
                        <p><a href="#">Continue Reading...</a></p>
                    {% endfor %}
                {% endif %}
            </div>

            <div id="Canada" class="col-lg-8 col-lg-offset-2" style="display: none">
                {% if site.categories.Canada == null %}
                    <h3>There are no Canada post contents</h3>
                {% else %}
                    {% for categoryCanada in site.categories.Canada %}
                        <h3>{{categoryCanada.title}}</h3>
                        <p><bd> {{categoryCanada.date | date: "%b %-d, %Y"}}</bd></p>
                        <p>{{ categoryCanada.excerpt }}</p>
                        <p><a href="#">Continue Reading...</a></p>
                    {% endfor %}
                {% endif %}
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div>