---
layout: default
---
    <!-- +++++ Projects Section +++++ -->

	<div class="container pt">
		<div class="row mt centered">
			{% for cate in site.data.categories.categories limit: 3 %}
			<div class="col-lg-4">
				<a class="zoom green" href="categoryList"><img class="img-responsive" src="/assets/img/{{cate.id}}.png" alt="{{cate.id}}" width="400" height="300" /></a>
				<p>{{cate.id}}</p>
			</div>
			{% endfor %}
		</div><!-- /row -->
		<div class="row mt centered">
			{% for cate in site.data.categories.categories limit: 3 offset: 3 %}
			<div class="col-lg-4">
				<a class="zoom green" href="categoryList"><img class="img-responsive" src="/assets/img/{{cate.id}}.png" alt="{{cate.id}}" width="400" height="300"/></a>
				<p>{{cate.id}}</p>
			</div>
			{% endfor %}
		</div><!-- /row -->
	</div><!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.min.js"></script>
