---
layout: default
---
    <!-- +++++ Projects Section +++++ -->

	<div class="container pt">
		<div class="row mt centered">
			{% for type in site.data.types.types limit: 3 %}
			<div class="col-lg-4">
				<a class="zoom green" href="{{site.baseurl}}/types/{{type.id}}"><img class="img-responsive" src="/assets/img/{{type.id}}.png" alt="{{type.id}}" width="400" height="300" /></a>
				<h4>{{type.desc}}</h4>
			</div>
			{% endfor %}
		</div><!-- /row -->
		<div class="row mt centered">
			{% for type in site.data.types.types limit: 3 offset: 3 %}
			<div class="col-lg-4">
				<a class="zoom green" href="{{type.id}}"><img class="img-responsive" src="/assets/img/{{type.id}}.png" alt="{{type.id}}" width="400" height="300"/></a>
				<h4>{{type.desc}}</h4>
			</div>
			{% endfor %}
		</div><!-- /row -->
	</div><!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.min.js"></script>
