---
layout: default
---


<div id="white">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>{{ page.title }}</h1>
        <h5>Tag : {{page.tag}}</h5>
        <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        <article class="post-content">
          {{ content }}
        </article>
        <p><a href="{{site.url}}/categoryList/?cate={{page.categories}}"># Back</a></p>
      </div>

    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /white -->